
body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  	background: #ffffff no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

div.upload {
    width: 157px;
    height: 57px;
    background: url(upload.png);
    overflow: hidden;
}
           
div.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}